marquee{
   font-size: 20px; 
}

}

}
#princi{
    width:175px; 
    height:175px;
}
#vid{
    justify-content: center;
}
.
.Achievements_head {
    font-size: 20px;
    padding: 6px;
    border-radius: 10px;
    margin-bottom: 15px;
    width:100%;
    display: inline-block;
}
    
#BBT Content{
    color:blue;
}
p {
    color:blue;
}